.split-pane > .split-pane-divider {
    -fx-padding: 0 0 0 0;
}

* {
    -fx-border-width: 0px;
    -fx-border-style: none;
    -fx-border-color: transparent;
}

.table-view {
    -fx-border-width: 0px;
    -fx-border-style: none;
    -fx-background-color: transparent;
}

.list-view {
    -fx-background-color: transparent;
}